.form-delete{
    display: inline;
}

button {
    border: 0;
}

a .btn-sm {
    text-decoration: none !important;
}

.order-img {
    width: 50px;
}

.order-img:hover {
    width: 150px;
}

.export {
    margin-left: 40px;
}